.example-container {
    min-width: 83.5vw;
    max-height: 77vh;
    overflow: auto;
  }
  
  table {
    text-align: center !important;
    width: 100%;
  }
  
  .mat-header-cell {
    text-align: center;
    padding: 5px;
  }
  
  .busqueda1{
    font-size: 14px;
    width: 60%;
    padding-left: 1rem;
    padding-top: 1rem;
  }
  
  .avatarNival{
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    padding: 10px;
  }