<div *ngIf="validate else barra">
</div>
<h2 mat-dialog-title>Esta seguro de borrar el registro de: </h2>
<h3 mat-dialog-title class="text-info pb-1 text-center">{{placeholder}}</h3>
<ion-grid>
  <ion-row>
    <ion-col col-12 col-sm-4>
      <ion-button expand="full" size="small" (click)="onClick()">
        <ion-icon name="send-sharp"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col col-12 col-sm-4>
      <ion-button (click)=" dimissModal()" color="red" expand="full" size="small">
        <ion-icon name="close-sharp"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
<ng-template #barra>
  <ion-progress-bar type="indeterminate"></ion-progress-bar>
</ng-template>