<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-12 col-sm-12>
        <h3>
          <ion-icon class="fa-nival-bottom" name="add-outline"></ion-icon>Nuevo Curso
        </h3>
        <hr class="hr-nival">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 col-sm-12>
        <div class="bd-callout bd-callout-default w-100">
          <h3>
            <a>
              <ion-icon class="fa-nival-bottom" name="image-outline" (click)="photoInput.click()"></ion-icon>
            </a>
            Foto
            <a style="float: right;" (click)="photoQuit()" *ngIf="validImage">
              <ion-icon class="fa-nival-bottom" color="red" name="close-outline"></ion-icon>
            </a>
          </h3>
          <div>
            <img [src]="photoSelected || '../../../assets/icon/clase.jpg'">
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <!-- ***************************************** Formulario crear curso *************************-->
        <form class="p-1 mt-1" [formGroup]="cursoForm" (ngSubmit)="addCurso(cursoForm)">
          <div class="bd-callout bd-callout-default w-100">
            <h3>
              <ion-icon class="fa-nival" name="list-outline"></ion-icon> Información:
            </h3>
            <input type="file" style="display: none;" (change)="onPhotoSelected($event)" #photoInput
              formControlName="image">
            <ion-row>
              <ion-col col-12 col-sm-12>
                <mat-form-field appearance="standard" class="input-modal">
                  <mat-label>Materia</mat-label>
                  <mat-select formControlName="materiaSelect" (selectionChange)="selectMateria($event.value)">
                    <mat-option *ngFor="let materia of materias, let indice=index"
                      value="{{materia.id}}+//+{{materia.data.nombre}}+//+{{indice}}">
                      {{materia.data.nombre}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-12 col-sm-12>
                <mat-form-field appearance="standard" class="input-modal">
                  <mat-label>Aula</mat-label>
                  <input matInput [type]="'text'" autocomplete="off" placeholder="{{placeholder}}"
                    formControlName="aula">
                </mat-form-field>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-12 col-sm-12>
                <h3>
                  <ion-icon class="fa-nival-bottom" name="today-outline" style="padding-right: 4px;"></ion-icon>Horario
                </h3>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-12 col-sm-12 *ngIf="validacionDeMateria">
                <div class="example-container mat-elevation-z2">
                  <table mat-table [dataSource]="dataSource">

                    <!-- Position Column -->
                    <ng-container matColumnDef="hora" sticky>
                      <th mat-header-cell *matHeaderCellDef> Hora. </th>
                      <td mat-cell *matCellDef="let element"> {{element.hora}}
                      </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="lunes">
                      <th class="nombre" mat-header-cell *matHeaderCellDef> Lunes </th>
                      <td class="px-1" mat-cell *matCellDef="let element, let l = index;">
                        <!--Info para nuevas materias 
                            LS estado actual LD estado Almacenado-->
                        <button mat-flat-button style="font-size: 14px; background-color:#47bfcc; color: white;"
                          *ngIf="element.LS" (click)="delHoraDiaLunes(l)">{{element.lunes}}
                          <mat-icon class="fa-nival" matSuffix>highlight_off</mat-icon>
                        </button>


                        <!--secundary para nuevas materias -->
                        <button mat-flat-button style="font-size: 14px; background-color: #7F8C8D ; color: white;"
                          *ngIf="element.LD">
                          {{element.lunes}}
                        </button>
                        <a (click)="setHoraDiaLunes(l,element.hora)" class="text-center text-muted"
                          *ngIf="!element.LS && !element.LD">
                          <ion-icon class="fa-nival-bottom" name="add-circle-outline"></ion-icon>
                        </a>
                      </td>
                    </ng-container>
                    <!-- Weight Column -->
                    <ng-container matColumnDef="martes">
                      <th class="nombre" mat-header-cell *matHeaderCellDef> Martes </th>
                      <td class="px-1" mat-cell *matCellDef="let element, let m = index;">
                        <!--Info para nuevas materias 
                      LS estado actual LD estado Almacenado-->
                        <button mat-flat-button style="font-size: 14px; background-color:#47bfcc; color: white;"
                          *ngIf="element.MS" (click)="delHoraDiaMartes(m)">
                          {{element.martes}}
                          <mat-icon class="fa-nival" matSuffix>highlight_off</mat-icon>
                        </button>
                        <!--secundary para nuevas materias -->
                        <button mat-flat-button style="font-size: 14px; background-color: #7F8C8D ; color: white;"
                          *ngIf="element.MD">
                          {{element.martes}}
                        </button>
                        <a (click)="setHoraDiaMartes(m,element.hora)" class="text-center text-muted"
                          *ngIf="!element.MS && !element.MD">
                          <ion-icon class="fa-nival-bottom" name="add-circle-outline"></ion-icon>
                        </a>
                      </td>
                    </ng-container>


                    <!-- Symbol Column -->
                    <ng-container matColumnDef="miercoles">
                      <th class="nombre" mat-header-cell *matHeaderCellDef> Miercoles </th>
                      <td class="px-1" mat-cell *matCellDef="let element, let mi = index;">
                        <!--Info para nuevas materias 
                      LS estado actual LD estado Almacenado-->
                        <button mat-flat-button style="font-size: 14px; background-color:#47bfcc; color: white;"
                          *ngIf="element.MiS" (click)="delHoraDiaMiercoles(mi)">
                          {{element.miercoles}}
                          <mat-icon class="fa-nival" matSuffix>highlight_off</mat-icon>
                        </button>
                        <!--secundary para nuevas materias -->
                        <button mat-flat-button style="font-size: 14px; background-color: #7F8C8D ; color: white;"
                          *ngIf="element.MiD">
                          {{element.miercoles}}
                        </button>
                        <a (click)="setHoraDiaMiercoles(mi,element.hora)" class="text-center text-muted"
                          *ngIf="!element.MiS && !element.MiD">
                          <ion-icon class="fa-nival-bottom" name="add-circle-outline"></ion-icon>
                        </a>
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="jueves">
                      <th class="nombre" mat-header-cell *matHeaderCellDef> Jueves </th>
                      <td class="px-1" mat-cell *matCellDef="let element, let j = index;">
                        <!--Info para nuevas materias 
                      LS estado actual LD estado Almacenado-->
                        <button mat-flat-button style="font-size: 14px; background-color:#47bfcc; color: white;"
                          *ngIf="element.JS" (click)="delHoraDiaJueves(j)">
                          {{element.jueves}}
                          <mat-icon class="fa-nival" matSuffix>highlight_off</mat-icon>
                        </button>
                        <!--secundary para nuevas materias -->
                        <button mat-flat-button style="font-size: 14px; background-color: #7F8C8D ; color: white;"
                          *ngIf="element.JD">
                          {{element.jueves}}
                        </button>
                        <a class="text-center text-muted" (click)="setHoraDiaJueves(j,element.hora)"
                          *ngIf="!element.JS && !element.JD">
                          <ion-icon class="fa-nival-bottom" name="add-circle-outline"></ion-icon>
                        </a>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="viernes">
                      <th class="nombre" mat-header-cell *matHeaderCellDef> viernes </th>
                      <td class="px-1" mat-cell *matCellDef="let element, let v = index;">
                        <!--Info para nuevas materias 
                      LS estado actual LD estado Almacenado-->
                        <button mat-flat-button style="font-size: 14px; background-color:#47bfcc; color: white;"
                          *ngIf="element.VS" (click)="delHoraDiaViernes(v)">
                          {{element.viernes}}
                          <mat-icon class="fa-nival" matSuffix>highlight_off</mat-icon>
                        </button>
                        <!--secundary para nuevas materias -->
                        <button mat-flat-button style="font-size: 14px; background-color: #7F8C8D ; color: white;"
                          *ngIf="element.VD">
                          {{element.viernes}}
                        </button>
                        <a class="text-center text-muted" (click)="setHoraDiaViernes(v,element.hora)"
                          *ngIf="!element.VS && !element.VD">
                          <ion-icon class="fa-nival-bottom" name="add-circle-outline"></ion-icon>
                        </a>
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-12 col-sm-12>
                <ion-button expand="full" size="small" color="file_excel" style="text-transform: none;">
                  <a style="color: white" (click)="fileInput.click()">
                    <ion-icon class="fa-nival-bottom" name="document-text-outline"></ion-icon> Agregar Nomina
                  </a>
                </ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-12 col-sm-12 class="ion-text-center" style="display: flex; justify-content: center">
                {{nombreFile}}
                <br>
                <a style="float: right; padding-left: 15px;" *ngIf="validFile" (click)="clearFile()">
                  <ion-icon class="fa-nival-bottom" color="red" name="close-outline"></ion-icon>
                </a>
                <input type="file" style="display: none;" (change)="onFileChange($event)" #fileInput
                  formControlName="file">
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-12 col-sm-12>
                <div *ngIf="validate else barra">
                </div>
              </ion-col>
            </ion-row>
          </div>
          <ion-row>
            <ion-col col-12 col-sm-12>
              <ion-button type="submit" expand="full" size="small" [disabled]="!cursoForm.valid">
                <ion-icon name="send-sharp"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </form>
        <!-- ****************** Fin de formulario crear curso *************************-->
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ng-template #barra>
  <ion-progress-bar type="indeterminate"></ion-progress-bar>
</ng-template>

<ion-footer>
  <ion-toolbar>
  </ion-toolbar>
</ion-footer>