.example-container {
    height: 200px;
    max-width: 100%;
    overflow: auto;
  }
  
  table {
    text-align: center !important;
    width: 100%;
  }
  
  .mat-header-cell {
    text-align: center;
    padding: 5px;
  }