.example-container {
  height: 55vh;
  max-width: 100%;
  overflow: auto;
}
  
  table {
    text-align: center !important;
    width: 100%;
  }
  .mat-header-cell, .mat-footer-cell, .mat-cell {
    box-sizing: border-box;
    text-align: center;
    justify-content:center;
    padding-left: 5px;
    padding-right: 5px;
  }
  
  .nombre{
    min-width: 150px;
  }
  
  .td-left{
    text-align: left;
  }
  
  