<form [formGroup]="oficinaForm" (ngSubmit)="onClick()">
  <h2 mat-dialog-title class="pb-1">Información:</h2>
  <div *ngIf="validate else barra">
  </div>
  <mat-form-field appearance="standard" class="input-modal">
    <mat-label>Oficina</mat-label>
    <textarea rows="3" matInput placeholder="{{placeholder}}" formControlName="office"></textarea>
    <mat-icon matSuffix (click)="eraser()">backspace</mat-icon>
  </mat-form-field>
  <ion-grid>
    <ion-row>
      <ion-col col-12 col-sm-6>
        <ion-button type="submit" expand="full" size="small" [disabled]="!oficinaForm.valid">
          <ion-icon name="send-sharp"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col col-12 col-sm-6>
        <ion-button (click)=" dimissModal()" color="red" expand="full" size="small">
          <ion-icon name="close-sharp"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>

<ng-template #barra>
  <ion-progress-bar type="indeterminate"></ion-progress-bar>
</ng-template>