<h2 mat-dialog-title class="pb-1">Editar Asistencia:</h2>
<div *ngIf="validate else login">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <h3>{{fecha}}</h3>
      </ion-col>
      <ion-col size="12">
        <mat-checkbox color="primary" [checked]=presente (change)="showOptionsPresente($event)"> Presente</mat-checkbox>
      </ion-col>
      <ion-col size="12">
        <mat-checkbox color="primary" [checked]=atraso (change)="showOptionsAtraso($event)">Atraso</mat-checkbox>
      </ion-col>
      <ion-col size="12">
        <mat-checkbox color="primary" [checked]=falta (change)="showOptionsFalta($event)">Falta</mat-checkbox>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col col-12 col-sm-6>
        <ion-button type="submit" expand="full" size="small" (click)="agregarArray()">
          <ion-icon name="send-sharp"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col col-12 col-sm-6>
        <ion-button (click)=" dimissModal()" color="red" expand="full" size="small">
          <ion-icon name="close-sharp"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ng-template #login>
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </ng-template>