<form [formGroup]="estudianteForm" (ngSubmit)="onClick()">
  <h3 mat-dialog-title class="pb-1"><strong>Editar Estudiante:</strong></h3>
  <div *ngIf="validate else barra">
  </div>
  <ion-grid>
    <ion-row>
      <ion-col col-12 col-sm-4>
        <mat-form-field hintLabel="Codigo único otorgado por la institución" appearance="standard"
          class="fullNivalWidth">
          <mat-label>Codigo Único</mat-label>
          <input matInput #codigoU [type]="'text'" autocomplete="off" maxlength="9" placeholder={{placeholderCodigo}}
            formControlName="codigoUnico"
            oninput="if(this.value.length > this.maxLength) this.value=this.value.slice(0,this.maxLength);"
            (keypress)="IngresarSoloNumeros($event)" required>
          <mat-hint align="end">{{codigoU.value?.length || 0}}/9</mat-hint>
          <mat-icon matSuffix (click)="limpiarNumero()">backspace</mat-icon>
        </mat-form-field>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 col-sm-4>
        <mat-form-field class="fullNivalWidth">
          <mat-label>Nombres</mat-label>
          <input matInput [type]="'text'" autocomplete="off" placeholder="{{placeholder}}" formControlName="estudiante"
            (keypress)="IngresarSoloLetras($event)">
          <mat-icon matSuffix (click)="limpiarNombre()">backspace</mat-icon>
        </mat-form-field>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 col-sm-4>
        <mat-form-field hintLabel="Correo otorgado por la institución" appearance="standard" class="fullNivalWidth">
          <mat-label>Correo Electrónico</mat-label>
          <input matInput [type]="'email'" autocomplete="off" spellcheck="false" placeholder="{{placeholderCorreo}}"
            formControlName="email" required>
          <mat-icon matSuffix (click)="limpiarCorreo()">backspace</mat-icon>
        </mat-form-field>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 col-sm-6>
        <ion-button type="submit" expand="full" size="small" [disabled]="!estudianteForm.valid">
          <ion-icon name="send-sharp"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col col-12 col-sm-6>
        <ion-button (click)=" dimissModal()" color="red" expand="full" size="small">
          <ion-icon name="close-sharp"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>

<ng-template #barra>
  <ion-progress-bar type="indeterminate"></ion-progress-bar>
</ng-template>