<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="ion-text-center" style="display: flex; justify-content: center">
        <ion-avatar class="avatarNival">
          <img src="{{perfil}}" />
        </ion-avatar>
        <a>
          <mat-icon class="fa-nival" matSuffix (click)="openPhoto()">add_photo_alternate</mat-icon>
        </a>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <div>
          <h2 id="font-p">{{nombre+' '+ apellido}}</h2>
          <p id="fontNival-p">{{correo}}</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <div class="bd-callout bd-callout-default">
          <h2>
            <mat-icon class="fa-nival" matSuffix>person</mat-icon> Información:
          </h2>
          <div class="fondo">
            <h4> Descripción:
              <a style="float: right;" (click)="openInfoModal()">
                <ion-icon class="fa-nival" style="font-size: 20px;" name="create-outline"></ion-icon>
              </a>
            </h4>
            <p id="fontNival-p">{{informacion}}</p>
          </div>
          <div class="fondo">
            <h4> Nombres:
              <a style="float: right;" (click)="openNombreModal()">
                <ion-icon class="fa-nival" style="font-size: 20px;" name="create-outline"></ion-icon>
              </a>
            </h4>
            <p id="fontNival-p">{{nombre}}</p>
          </div>
          <div class="fondo">
            <h4> Apellidos:
              <a style="float: right;" (click)="openApellidoModal()">
                <ion-icon class="fa-nival" style="font-size: 20px;" name="create-outline"></ion-icon>
              </a>
            </h4>
            <p id="fontNival-p">{{apellido}}</p>
          </div>
          <div class="fondo">
            <h4> Oficina:
              <a style="float: right;" (click)="openOficinaModal()">
                <ion-icon class="fa-nival" style="font-size: 20px;" name="create-outline"></ion-icon>
              </a>
            </h4>
            <p id="fontNival-p">{{oficina}}</p>
          </div>
          <div class="fondo">
            <h4> Contraseña:
              <a style="float: right;" (click)="openPasswordModal()">
                <ion-icon class="fa-nival" style="font-size: 20px;" name="create-outline"></ion-icon>
              </a>
            </h4>
          </div>
          <br>
          <div class="fondo">
            <h4> Eliminar Cuenta
              <a style="float: right;" (click)="openDeleteModal()">
                <mat-icon class="fa-nival" style="color: red;" matSuffix>delete_forever</mat-icon>
              </a>
            </h4>
          </div>
        </div>
      </ion-col>
      <ion-col size="12">
        <div class="bd-callout bd-callout-default">
          <h2>
            <mat-icon class="fa-nival" matSuffix>access_time</mat-icon>
            Semestre:
            <a style="float: right;" (click)="openAnioLectivoModal()">
              <ion-icon class="fa-nival" style="font-size: 20px;" name="create-outline"></ion-icon>
            </a>
          </h2>
          <div class="fondo">
            <p id="fontNival-p">
              Inicio: {{AnioLectivoInicio}}
            </p>
          </div>
          <div class="fondo">
            <p id="fontNival-p">
              Fin: {{AnioLectivoFin}}
            </p>
          </div>
        </div>
      </ion-col>
      <ion-col size="12">
        <div class="bd-callout bd-callout-default">
          <h2>
            <mat-icon class="fa-nival" matSuffix>format_list_bulleted</mat-icon> Materias:
            <a style="float: right;" (click)="openMateriaModal()">
              <mat-icon class="fa-nival" matSuffix>add_box</mat-icon>
            </a>
          </h2>
          <div class="fondo" *ngFor="let materia of materias; let i = index">
            <p id="fontNival-p"><strong>{{i+1+'.'}}</strong>
              {{materia.data.nombre}}
              <a style="float: right;" (click)="openEliminarMateriaModal(materia.data.nombre,materia.id)" *ngIf="val">
                <mat-icon class="fa-nival" style="color: red;" matSuffix>delete_forever</mat-icon>
              </a>
              <a style="float: right;" (click)="openEditMateriaModal(materia.data.nombre,materia.id)" *ngIf="val">
                <ion-icon class="fa-nival" style="font-size: 20px;" name="create-outline"></ion-icon>
              </a>
            </p>
          </div>
        </div>
      </ion-col>
      <ion-col size="12">
        <div class="bd-callout bd-callout-default">
          <h2>
            <mat-icon class="fa-nival" matSuffix>library_books</mat-icon> Cursos:
            <a style="float: right;" (click)="openCurso()">
              <mat-icon class="fa-nival" matSuffix>add_box</mat-icon>
            </a>
          </h2>
          <div class="fondo" *ngFor="let curso of cursoCompleto; let i = index">
            <p id="fontNival-p"><strong>{{i+1+'.'}}</strong>
              {{curso.nombre}}
              <a style="float: right;" (click)="eliminarCurso(curso.id)" *ngIf="val">
                <mat-icon class="fa-nival" style="color: red;" matSuffix>delete_forever</mat-icon>
              </a>
              <a style="float: right;" (click)="editarCurso(curso.idCurso)" *ngIf="val">
                <ion-icon class="fa-nival" style="font-size: 20px;" name="create-outline"></ion-icon>
              </a>
            </p>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
  </ion-toolbar>
</ion-footer>