<h2 mat-dialog-title> Editar Horario:</h2>
<div *ngIf="validate else barra">
</div>
<ion-grid>
  <ion-row>
    <ion-col size="12">
      <mat-dialog-content class="mat-typography">
        <div class="example-container mat-elevation-z2">
          <table mat-table [dataSource]="dataSource">
            <!-- Position Column -->
            <ng-container matColumnDef="hora" sticky>
              <th mat-header-cell *matHeaderCellDef> Hora. </th>
              <td mat-cell *matCellDef="let element"> {{element.hora}}
              </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="lunes">
              <th mat-header-cell *matHeaderCellDef> Lunes </th>
              <td class="px-1" mat-cell *matCellDef="let element, let l = index;">
                <!--Info para nuevas materias 
              LS estado actual LD estado Almacenado-->
                <button mat-flat-button style="font-size: 14px; background-color: #56E2F3; color: white;"
                  *ngIf="element.LS" (click)="delHoraDiaLunes(l)">{{element.lunes}}
                  <mat-icon class="fa-nival" matSuffix>highlight_off</mat-icon>
                </button>

                <!--secundary para nuevas materias -->
                <button mat-flat-button style="font-size: 14px; background-color: #7F8C8D ; color: white;"
                  *ngIf="element.LD">
                  {{element.lunes}}
                </button>
                <a (click)="setHoraDiaLunes(l)" class="text-center text-muted" *ngIf="!element.LS && !element.LD">
                  <mat-icon class="fa-nival" matSuffix>add_box</mat-icon>
                </a>
              </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="martes">
              <th mat-header-cell *matHeaderCellDef> Martes </th>
              <td class="px-1" mat-cell *matCellDef="let element, let m = index;">
                <!--Info para nuevas materias 
              LS estado actual LD estado Almacenado-->
                <button mat-flat-button style="font-size: 14px; background-color: #56E2F3; color: white;"
                  *ngIf="element.MS" (click)="delHoraDiaMartes(m)">
                  {{element.martes}}
                  <mat-icon class="fa-nival" matSuffix>highlight_off</mat-icon>
                </button>
                <!--secundary para nuevas materias -->
                <button mat-flat-button style="font-size: 14px; background-color: #7F8C8D ; color: white;"
                  *ngIf="element.MD">
                  {{element.martes}}
                </button>
                <a (click)="setHoraDiaMartes(m)" class="text-center text-muted" *ngIf="!element.MS && !element.MD">
                  <mat-icon class="fa-nival" matSuffix>add_box</mat-icon>
                </a>
              </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="miercoles">
              <th mat-header-cell *matHeaderCellDef> Miercoles </th>
              <td class="px-1" mat-cell *matCellDef="let element, let mi = index;">
                <!--Info para nuevas materias 
              LS estado actual LD estado Almacenado-->
                <button mat-flat-button style="font-size: 14px; background-color: #56E2F3; color: white;"
                  *ngIf="element.MiS" (click)="delHoraDiaMiercoles(mi)">
                  {{element.miercoles}}
                  <mat-icon class="fa-nival" matSuffix>highlight_off</mat-icon>
                </button>
                <!--secundary para nuevas materias -->
                <button mat-flat-button style="font-size: 14px; background-color: #7F8C8D ; color: white;"
                  *ngIf="element.MiD">
                  {{element.miercoles}}
                </button>
                <a (click)="setHoraDiaMiercoles(mi)" class="text-center text-muted"
                  *ngIf="!element.MiS && !element.MiD">
                  <mat-icon class="fa-nival" matSuffix>add_box</mat-icon>
                </a>
              </td>
            </ng-container>
            <ng-container matColumnDef="jueves">
              <th mat-header-cell *matHeaderCellDef> Jueves </th>
              <td class="px-1" mat-cell *matCellDef="let element, let j = index;">
                <!--Info para nuevas materias 
              LS estado actual LD estado Almacenado-->
                <button mat-flat-button style="font-size: 14px; background-color: #56E2F3; color: white;"
                  *ngIf="element.JS" (click)="delHoraDiaJueves(j)">
                  {{element.jueves}}
                  <mat-icon class="fa-nival" matSuffix>highlight_off</mat-icon>
                </button>
                <!--secundary para nuevas materias -->
                <button mat-flat-button style="font-size: 14px; background-color: #7F8C8D ; color: white;"
                  *ngIf="element.JD">
                  {{element.jueves}}
                </button>
                <a class="text-center text-muted" (click)="setHoraDiaJueves(j)" *ngIf="!element.JS && !element.JD">
                  <mat-icon class="fa-nival" matSuffix>add_box</mat-icon>
                </a>
              </td>
            </ng-container>

            <ng-container matColumnDef="viernes">
              <th mat-header-cell *matHeaderCellDef> viernes </th>
              <td class="px-1" mat-cell *matCellDef="let element, let v = index;">
                <!--Info para nuevas materias 
              LS estado actual LD estado Almacenado-->
                <button mat-flat-button style="font-size: 14px; background-color: #56E2F3; color: white;"
                  *ngIf="element.VS" (click)="delHoraDiaViernes(v)">
                  {{element.viernes}}
                  <mat-icon class="fa-nival" matSuffix>highlight_off</mat-icon>
                </button>
                <!--secundary para nuevas materias -->
                <button mat-flat-button style="font-size: 14px; background-color: #7F8C8D ; color: white;"
                  *ngIf="element.VD">
                  {{element.viernes}}
                </button>
                <a class="text-center text-muted" (click)="setHoraDiaViernes(v)" *ngIf="!element.VS && !element.VD">
                  <mat-icon class="fa-nival" matSuffix>add_box</mat-icon>
                </a>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </mat-dialog-content>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-button expand="full" size="small" (click)="guardarNuevoHorario()">
        <ion-icon name="send-sharp"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button (click)=" dimissModal()" color="red" expand="full" size="small">
        <ion-icon name="close-sharp"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
<ng-template #barra>
  <ion-progress-bar type="indeterminate"></ion-progress-bar>
</ng-template>