<h2 mat-dialog-title> Editar Horario: </h2>
<div *ngIf="validate else barra">
</div>
<br>
<ion-grid>
  <ion-row>
    <ion-col col-12 col-sm-12>
      <mat-dialog-content class="mat-typography">
        <div class="example-container mat-elevation-z2">
          <table mat-table [dataSource]="dataSource">
            <!-- Position Column -->
            <ng-container matColumnDef="hora" sticky>
              <th mat-header-cell *matHeaderCellDef> Hora. </th>
              <td mat-cell *matCellDef="let element"> {{element.hora}}
              </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="lunes">
              <th mat-header-cell *matHeaderCellDef> Lunes </th>
              <td class="px-1" mat-cell *matCellDef="let element, let l = index;">
                <!--Info para nuevas materias 
                    LS estado actual LD estado Almacenado-->
                <ion-button expand="full" size="small" color="materia" *ngIf="element.LS" style="font-size: 10px;">
                  {{element.lunes}}
                  <br>
                  <a (click)="delHoraDiaLunes(l)" style="color: white">
                    <mat-icon class="fa-nival" matSuffix>highlight_off</mat-icon>
                  </a>
                </ion-button>
                <!--secundary para nuevas materias -->
                <ion-button expand="full" size="small" color="mat_registrada" *ngIf="element.LD" style="font-size: 10px;">
                  {{element.lunes}}
                </ion-button>
                <a class="text-center text-muted" (click)="setHoraDiaLunes(l)" *ngIf="!element.LS && !element.LD">
                  <mat-icon class="fa-nival" matSuffix>add_box</mat-icon>
                </a>
              </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="martes">
              <th mat-header-cell *matHeaderCellDef> Martes </th>
              <td class="px-1" mat-cell *matCellDef="let element, let m = index;">
                <!--Info para nuevas materias 
                    LS estado actual LD estado Almacenado-->
                <ion-button expand="full" size="small" color="materia" *ngIf="element.MS" style="font-size: 10px;">
                  {{element.martes}}
                  <br>
                  <a (click)="delHoraDiaMartes(m)" style="color: white">
                    <mat-icon class="fa-nival" matSuffix>highlight_off</mat-icon>
                  </a>
                </ion-button>

                <!--secundary para nuevas materias -->
                <ion-button expand="full" size="small" color="mat_registrada" *ngIf="element.MD"
                  style="font-size: 10px;">
                  {{element.martes}}
                </ion-button>
                <a class="text-center text-muted" (click)="setHoraDiaMartes(m)" *ngIf="!element.MS && !element.MD">
                  <mat-icon class="fa-nival" matSuffix>add_box</mat-icon>
                </a>
              </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="miercoles">
              <th mat-header-cell *matHeaderCellDef> Miercoles </th>
              <td class="px-1" mat-cell *matCellDef="let element, let mi = index;">
                <!--Info para nuevas materias 
                    LS estado actual LD estado Almacenado-->
                <ion-button expand="full" size="small" color="materia" *ngIf="element.MiS" style="font-size: 10px;">
                  {{element.miercoles}}
                  <br>
                  <a (click)="delHoraDiaMiercoles(mi)" style="color: white">
                    <mat-icon class="fa-nival" matSuffix>highlight_off</mat-icon>
                  </a>
                </ion-button>

                <!--secundary para nuevas materias -->
                <ion-button expand="full" size="small" color="mat_registrada" *ngIf="element.MiD"
                  style="font-size: 10px;">
                  {{element.miercoles}}
                </ion-button>
                <a class="text-center text-muted" (click)="setHoraDiaMiercoles(mi)"
                  *ngIf="!element.MiS && !element.MiD">
                  <mat-icon class="fa-nival" matSuffix>add_box</mat-icon>
                </a>
              </td>
            </ng-container>
            <ng-container matColumnDef="jueves">
              <th mat-header-cell *matHeaderCellDef> Jueves </th>
              <td class="px-1" mat-cell *matCellDef="let element, let j = index;">
                <!--Info para nuevas materias 
                    LS estado actual LD estado Almacenado-->
                <ion-button expand="full" size="small" color="materia" *ngIf="element.JS" style="font-size: 10px;">
                  {{element.jueves}}
                  <br>
                  <a (click)="delHoraDiaJueves(j)" style="color: white">
                    <mat-icon class="fa-nival" matSuffix>highlight_off</mat-icon>
                  </a>
                </ion-button>

                <!--secundary para nuevas materias -->
                <ion-button expand="full" size="small" color="mat_registrada" *ngIf="element.JD"
                  style="font-size: 10px;">
                  {{element.jueves}}
                </ion-button>
                <a class="text-center text-muted" (click)="setHoraDiaJueves(j)" *ngIf="!element.JS && !element.JD">
                  <mat-icon class="fa-nival" matSuffix>add_box</mat-icon>
                </a>
              </td>
            </ng-container>

            <ng-container matColumnDef="viernes">
              <th mat-header-cell *matHeaderCellDef> viernes </th>
              <td class="px-1" mat-cell *matCellDef="let element, let v = index;">
                <!--Info para nuevas materias 
                    LS estado actual LD estado Almacenado-->
                <ion-button expand="full" size="small" color="materia" *ngIf="element.VS" style="font-size: 10px;">
                  {{element.viernes}}
                  <br>
                  <a (click)="delHoraDiaViernes(v)" style="color: white">
                    <mat-icon class="fa-nival" matSuffix>highlight_off</mat-icon>
                  </a>
                </ion-button>

                <!--secundary para nuevas materias -->
                <ion-button expand="full" size="small" color="mat_registrada" *ngIf="element.VD"
                  style="font-size: 10px;">
                  {{element.viernes}}
                </ion-button>
                <a class="text-center text-muted" (click)="setHoraDiaViernes(v)" *ngIf="!element.VS && !element.VD">
                  <mat-icon class="fa-nival" matSuffix>add_box</mat-icon>
                </a>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </mat-dialog-content>
    </ion-col>
  </ion-row>
  <br>
  <ion-row>
    <ion-col col-12 col-sm-6>
      <ion-button expand="full" size="small" (click)="guardarNuevoHorario()">
        <ion-icon name="send-sharp"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col col-12 col-sm-6>
      <ion-button (click)=" dimissModal()" color="red" expand="full" size="small">
        <ion-icon name="close-sharp"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
<ng-template #barra>
  <ion-progress-bar type="indeterminate"></ion-progress-bar>
</ng-template>