<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-icon>
        <ion-col col-12 col-sm-12>
          <h3 class="font-weight-normal">
            <i class="fa fa-qrcode pr-1"></i> Código QR
          </h3>
        </ion-col>
      </ion-icon>
    </ion-row>
    <ion-row>
      <ion-icon>
        <ion-col col-12 col-sm-12>
          <hr class="hr-nival">
        </ion-col>
      </ion-icon>
    </ion-row>
    <ion-row>
      <ion-col col-12 col-sm-12 class="ion-text-center" style="display: flex; justify-content: center">
        <ngx-qrcode [elementType]="elementType" [errorCorrectionLevel]="correctionLevel" [value]="value"
          alt="Demo QR Code" [width]="300" cssClass="bshadow"></ngx-qrcode>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
  </ion-toolbar>
</ion-footer>